
#main-doc{

    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "navbar content "
                        "navbar content"
                        "footer footer";
                        
    }


header{
    font-size: 200%;
    padding: 2%;
   
}

#header{
    
    border-bottom: 2px solid;
    padding: 5% 5% 5% 5%;
    background-color: rgb(209, 207, 207);

}

#navbar{
  position: fixed;
  min-width: 25%;
  top: 0px;
  left: 0px;
  width: 00px;
  height: 100%;
  background-color: rgb(241, 236, 236);
  grid-area: navbar;
  border-radius: 5px;
  border: 2px solid black;
  color: black;

}

p{
    text-align: justify;
    padding: 0% 2% 0% 2%;
    font-size: 120%;
}

.nav-link{

    font-size: 130%;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;

}

#main-section{
    background-color: white;
    grid-area: content;

}

.main-section{
    border: 1px solid black;
    padding-bottom: 5%;

}


code{
    width: 100px;
    height: 1000px;
}
span{
    padding-left: 10%;

}

h3{
    padding-left: 1%;
}

#footer{

    background-color: white;
    grid-area: footer;
    text-align: right;

}

@media only screen and (max-width: 400px) {

#main-doc{

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "navbar navbar "
                        "content content"
                        "footer footer";
                        
    }
    #navbar{
        position: fixed;
        min-width: 25%;
        top: 0px;
        left: 0px;
        width: 98%;
        height: 35%;
        background-color: rgb(241, 236, 236);
        grid-area: navbar;
        border-radius: 5px;
        border: 2px solid black;
        color: black;
      
      }

      header{
        font-size: 100%;
        padding: 2%;
       
    }
    .nav-link{

        font-size: 90%;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
    
    }
    p{
        text-align: justify;
        padding: 0% 2% 0% 2%;
        font-size: 80%;
    }
    #main-section{
        background-color: white;
        grid-area: content;
        margin-top: 70%;
    
    }
}